.stepper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0px 10px;
  position: relative;
}

.step-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  z-index: 2;
}

.step-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step-active .step-number {
  background-color: #007bff;
  color: #fff;
}

.step-completed .step-number {
  background-color: #28a745;
  color: #fff;
}

.step-name {
  font-size: 18px;
}

.stepper-btn {
  width: 200px;
  min-height: 40px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 5px yellow;
}

.progress-bar {
  position: absolute;
  top: 25%;
  left: 0;
  height: 4px;
  background-color: #ccc;
}
.progress {
  height: 100%;
  background-color: #28a745;
  transition: 0.2s ease;
}

.step-connector {
  position: absolute;
  top: 25%;
  left: calc(-50% + 20px);
  right: calc(-50% + 20px);
  /* flex: 1 1 auto; */
}

.step-connector-span {
  display: block;
  border-color: #007bff;
  border-top-style: solid;
  border-top-width: 2px;
}
